<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <!-- 標準出力 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{ISO8601} %highlight(%-5le) %gray(%-30.30logger{30}) - %green(%msg) %n</pattern>
        </encoder>
        <withJasi>false</withJasi>
    </appender>

    <!-- コマンドログ -->
    <logger name="CommandLog" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Flowログ -->
    <logger name="FlowLog" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- thymeleafはINFOレベル固定 -->
    <logger name="org.thymeleaf" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- ツールは初期値がINFOレベル -->
    <logger name="com.epion_t3" level="${loggerLevel:-INFO}" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Rootは初期値がINFOレベル -->
    <root level="${loggerLevel:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>