<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ETTT-Report</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <span class="navbar-brand col-md-11">ETTT-Reports</span>
    <span style="color:#eee">Version:1.0.0</span>
</nav>

<main role="main" class="container">

    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#" th:href="'#'">All</a>
    </nav>

    <!-- Execute Scenario Information. -->
    <section class="row">
        <div class="col-md-12">
            <h2>Execute&nbsp;Information</h2>
            <table class="table table-sm table-bordered">
                <tbody>
                <tr>
                    <th class="bg-dark" style="width:200px;color:white">Version</th>
                    <td th:text="${context.option.version}">v1.0</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Scenario&nbsp;ID</th>
                    <td th:text="${context.option.target}">sample-scenario-001</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Mode</th>
                    <td th:text="${context.option.mode}">test</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Profile</th>
                    <td th:text="${context.option.profile}">develop</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Debug</th>
                    <td th:text="${context.option.debug}">false</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">NoReport</th>
                    <td th:text="${context.option.noreport}">false</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Execution&nbsp;ID</th>
                    <td th:text="${executeContext.executeContextId}">sample-scenario-001</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Status</th>
                    <td class="table-success" th:text="${executeContext.status}"
                        th:class="${executeContext.status.getCssClass()}">SUCCESS
                    </td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Start</th>
                    <td th:text="${dateTimeUtils.formatNormal(executeContext.start)}">2018/09/01 12:12:12</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">End</th>
                    <td th:text="${dateTimeUtils.formatNormal(executeContext.end)}">2018/09/01 12:12:12</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Duration&nbsp;(ms)</th>
                    <td th:text="${dateTimeUtils.getMillis(executeContext.start, executeContext.end)}">1</td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

    <!-- Message Area. -->
    <!--
    <section class="row" style="margin-top:20px">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
            </div>
        </div>
    </section>
    -->

    <section class="row" style="margin-top:20px">
        <div class="col-md-12">
            <h2>All Scenario Result List</h2>
            <table class="table table-bordered table-hover table-striped">
                <thead class="bg-dark" style="color:white">
                <tr>
                    <th scope="col">Scenario&nbsp;ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="scenario,stat : ${executeContext.scenarios}">
                    <th scope="row"><a
                            th:href="${#strings.concat('./',scenario.resultPath.getFileName(),'/','scenario_report.html')}"
                            th:text="${scenario.info.id}">scenario-id</a></th>
                    <td class="table-success" th:text="${scenario.status}" th:class="${scenario.status.getCssClass()}">
                        SUCCESS
                    </td>
                    <td th:text="${scenario.info.summary}">Summary</td>
                    <td th:text="${#strings.concat(dateTimeUtils.formatTimeNormal(scenario.start), ' ~ ', dateTimeUtils.formatTimeNormal(scenario.end), ' (', dateTimeUtils.getMillis(scenario.start, scenario.end), ' ms)')}"></td>
                </tr>
                <tr th:remove="all">
                    <th scope="row">fef4d139-a550-490a-8365-9fd26ce3f871</th>
                    <td class="table-danger">ERROR</td>
                    <td>Summary</td>
                    <td>21:27:42.611 ~ 21:27:48.800 (6189 ms)</td>
                </tr>
                <tr th:remove="all">
                    <th scope="row">fef4d139-a550-490a-8365-9fd26ce3f871</th>
                    <td class="table-warning">WARN</td>
                    <td>Summary</td>
                    <td>21:27:42.611 ~ 21:27:48.800 (6189 ms)</td>
                </tr>
                <tr th:remove="all">
                    <th scope="row"><a href="">fef4d139-a550-490a-8365-9fd26ce3f871</a></th>
                    <td class="table-success">SUCCESS</td>
                    <td>Summary</td>
                    <td>21:27:42.611 ~ 21:27:48.800 (6189 ms)</td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

    <!-- Global Variables -->
    <section class="row" style="margin-top:20px" th:unless="${executeContext.globalVariables.isEmpty()}">
        <div class="col-md-12">
            <h2>Global Variables</h2>
            <table class="table table-bordered table-hover table-striped">
                <thead class="bg-dark" style="color:white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="globalVariable,stat : ${executeContext.globalVariables}">
                    <th scope="row" th:text="${globalVariable.key}">Key</th>
                    <td th:text="${globalVariable.value}">Value</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Notifications -->
    <section class="row" style="margin-top:20px" id="notifications" th:unless="${executeContext.notifications.isEmpty()}">
        <div class="col-md-12">
            <h2>Notifications</h2>
            <table class="table table-bordered table-hover table-striped">
                <thead class="bg-dark" style="color:white">
                <tr>
                    <th scope="col">Level</th>
                    <th scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notification,stat : ${executeContext.notifications}">
                    <td th:text="${notification.level}" th:class="${notification.level.getCssClass()}">INFO</td>
                    <td th:text="${notification.message}">メッセージ</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>
